body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.App-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  padding-bottom: 200px;
}